.profile-thumbnail {
    position: absolute;
    top: 20px;
}

.modify-header {
    position: absolute;
    top: 230px;
}
.profile-header {
    min-height: 260px;
    margin-left: 220px;
}

#header h1 {
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    font-size: 150%;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    /*margin: 16px 0px 0px 0px;*/
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 200%;
    font-weight: normal;
    line-height: 140%;
    padding-bottom: 5px;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}

.post-title {
    padding-bottom: 10px;
    margin: 0px 0 0px;
    border-bottom: 1px solid #bce8f1;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

.hello-bg {
    background-color: #f0f0f0;
    /*margin-top: 10px;*/
}

#hello h1 {
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    font-size: 200%;
    margin-bottom: 20px;
}
.sidebar-bg {
    background-color: #f0f0f0;
    /*margin-top: 10px;*/
}
#sidebar {
    font-size: 100%;
    margin-bottom: 16px;
}
#sidebar h1 {
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    font-size: 150%;
}
#sidebar ul {
    list-style:none;
    padding: 0;
    margin: 0;
}
#sidebar .label a {
    color: #eee;
}


#main {
    //float:left;
    /*padding: 10px 10px 10px 10px;*/
    line-height: 150%;
    color: #333;
}
#main h1 {
    font-size: 200%;
    font-weight: normal;
    line-height: 140%;
    padding-bottom: 5px;
}    
#main h1.post-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#main h1.post-title a {
    color: #666;
}
#main h1.post-title a:hover {
    color: #000;
    text-decoration: none;
}
#main h1.subtitle {
    margin: 0px 0px 16px 0px;
    padding: 4px 0px;
    font-size: 120%;
    font-weight: normal;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#main h2 {
    font-size: 180%;
    font-weight: normal;
}
#main h3 {
    font-size: 150%;
    font-weight: normal;
}
#main h4 {
    font-size: 120%;
    font-weight: normal;
}
#main p {
    font-size: 120%;
    line-height: 150%;
    margin-bottom: 20px;
}
#main .post .post_body ul {
    font-size: 120%;
    line-height: 150%;
}
#main .post .post_body ul ul {
    font-size: 100%;
    line-height: 150%;
}
#main .posted {
    font-size: 100%;
    font-weight: normal;
/*    padding-bottom: 4px;
    margin-bottom: 16px;*/
    margin-top: 16px;
    /*border-bottom: 1px solid #ccc;*/
}
#main .posted span a {
    color: #eee;
}
#main .posted span a:hover {
    text-decoration: underline;
}
#main .date {
    padding: 2px 8px;
    margin: 5px 0px 0px 0px;
    border: 1px solid #ccc;
    font-size: 100%;
    color: #666;
    float: right;
    display: inline;
    position: relative;
    top: 4px;
}
#main .post {
    margin-bottom: 20px;
}
#main .post_body h1 {
    margin-top: 16px;
}
#main .post_body h2 {
    margin-top: 16px;
}
#main .post_body h3 {
    margin-top: 16px;
}
#main .post_body h4 {
    margin-top: 16px;
}
#main .comment {
    padding: 4px 4px 8px 4px;
    border-top: 1px solid #ddd;
    font-size: 80%;
}
#main .comment pre {
    font-size: 90%;
    font-family: verdana, sans-serif;
}
#main .editform {
    font-size: 120%;
    line-height: 1.3em;
    min-width: 740px;
}
#main .commentform {
    font-size: 120%;
    line-height: 1.3em;
}
#main .comment ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#main .comment ul li:nth-child(odd) {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
#main .comment ul li {
    padding: 8px;
}
#main .comment ul li div.comment-thumbnail {
    width: 60px;
    position: absolute;
}
#main .comment ul li div.comment-body {
    margin-left: 70px;
    overflow: auto;
}
#main .page {
    border-top: 1px solid #ddd;
}
#main a.gallery img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

.nounderline{text-decoration: none}

.post-hidden-line{
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
overflow: hidden;
}