{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DreamBlog - Add Category{% endblock %}

{% block page_content %}
<div class="alert alert-info-head">
    <h1>Add Category</h1>
</div>

<div>
    {% if current_user.can(Permission.ADMINISTER) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>

<div class="page-header">
    <h1>Already Added Categories</h1>
</div>
<div>
 <form action="" method=post>
    {% for category in categories %}
        <p style="text-decoration: none">
            <span class="label label-primary">{{category.name}}</span>
        </p>
    {% endfor %}
      <input type=submit value="Update categories">
  </form>
</div>

{% endblock %}